* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mitr', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Rubik', sans-serif;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 4rem;
}
.content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px black solid;
}
.cards-container {
    display: flex;
    border: 1px black solid;
    justify-content: space-around;

}
.button-container {
    display: flex;
    border: 1px black solid;
    justify-content: space-evenly;
}
.rock , .paper ,.scissor {
    font-size: 6rem;
}
.status {
    text-align: center;
    font-size: 4rem;
}
.pshow-box , .pcshow-box {
    font-size: 7rem;
}